.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px; /* Adjusted padding for smaller screens */
  height: 70vh;
  background-image: url(../../assets/bg-intro-mobile.png);
  background-color: #4F6B8A;
}

.login-form-container {
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}

.login-form-container input {
  width: 95%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
}

.error {
  color: red;
  text-align: right;
  margin-top: -10px;
}

.submit-btn {
  width: 100%;
  background-color: hsl(154, 59%, 51%);
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px;
}

@media screen and (min-width: 769px) {
  .login-container {
    padding: 20px 250px;
  }
}
