.signup-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 250px;
  height: 70vh;

  background-image: url(../../assets/bg-intro-mobile.png);
  background-color: #4F6B8A;
}

.form-container {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}

.form-container input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
}

.error {
  color: red;
  text-align: right;
  margin-top: -10px;
}

.submit-btn {
  width: 100%;
  background-color: hsl(154, 59%, 51%);
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px;
}

.terms-text {
  margin-top: 10px;
  font-size: 10px;
  color: gray;
  text-align: center;
  line-height: 2em;
}

.terms-link {
  text-decoration: none;
  color: 00629B;
}

/* Media Queries */

@media only screen and (min-width: 1024px) {

  .signup-container {
      display: flex;
    align-items: center;
    margin-top: 0;
    flex-basis: 100%;
  }

  .form-container {
    padding: 30px;
  }

  .form-container input {
    margin-bottom: 15px;
  }
}
