*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.slider-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.text {
    position: absolute;
    width: 90%;
    text-align: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
    border-radius: 15px;
}
.slick-slider {
    width: 100%;
}
  
/* Set the height of the slider to half of the viewport height */
.slick-slider img {
height: 75vh;
width: 100%;
}

.slick-dots {
position: absolute;
bottom: auto; /* Remove the default bottom positioning */
bottom: 10px; /* Adjust top position as needed */
width: 100%;
text-align: center; /* Center dots horizontally */
}

/* Responsive Styling */
@media only screen and (max-width: 768px) {
    .text {
        height: auto;
        min-height: 25vh;
        max-height: 50vh;
        overflow-y: auto;
    }
}